@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: rgb(51 65 85);
}
*{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(45 212 191);
}
button:hover{
    background-color: rgb(28, 35, 46);
    padding: 5px;
    transition: all 100ms;
}
button{
    transition: all 300ms;
    margin-top: 5px;
}
li:hover{
    background-color: rgb(28, 35, 46);
    transition: all 100ms;
    margin: 5px;
}
li{
    transition: all 300ms;
    padding: 2px;
    padding-right: 20px;
}
.button{
    padding-top: -200px;
}